<div class="content">

  <h1>Поиск</h1>
  <form>
    <div class="search-wrapper">
      <input type="text" name="search" placeholder="Введите запрос">
      <span class="clear-input" onclick="clearSearchInput()">&times;</span>
    </div>
    <button type="submit">Знайти</button>
  </form>

  <script>
      function clearSearchInput() {
          var searchInput = document.querySelector('input[name="search"]');
          searchInput.value = '';
      }
  </script>
  <% @advs.each do |adv| %>
    <div class="cool-block">
      <%= image_tag adv.photos.first.file %><br>
      <a href="<%= advertisements_show_path+"?id="+adv.id.to_s %>"><%= adv.title %></a><br>
      <p><%= adv.price_data.last.price.count.to_s + " " + adv.price_data.last.price.valute.name %> </p>
    </div><br>
  <% end %>




</div>


