
<table>
  <thead>
  <tr>
    <th>Місто</th>
    <th>Кількість оголошень</th>
  </tr>
  </thead>

  <tbody>
  <% @statistics.each do |stat| %>
    <tr>
      <td><%= stat[0] %></td>
      <td><%= stat[1] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>