<div class="content">
  <h1>Новий тип приводу</h1>


  <%= form_tag  type_drive_autos_new_path do %>
    <input type="text" name="name" placeholder="Назва">
    <%= submit_tag 'Зберегти', class: "content"%>
  <% end %>

</div>